<!-- para identar: ctrl + alt + l -->

<!DOCTYPE html>
<html>

    <head>
        <!-- Configuraciones Metadatos -->

        <!-- CSS -->
        <link rel="stylesheet" href="/css/estilos-generales.css">

    </head>

    <body>
        <p>hola <%= nombre%> !</p> <!-- parafo -->

        <!-- Contenido html -->

        <!-- Scrips -->
        <script src="/js/logica-general.js"></script>

    </body>

</html>







