<!-- unordered list-->
<ul>
    <!--    List item    -->
    <li>
        <!--   Anchor (ancla)     -->
        <!--        <a href="http://localhost:3001/usuario-http/vista/inicio">inicio</a>-->
        <a href="/usuario-http/vista/inicio">inicio</a>
    </li>
    <li><a href="/usuario-http/vista/faq">F.A.Q.</a>
    </li>
    <li><a href="/usuario-http/vista/login">login</a>
    </li>
</ul>
