<h1>Iniciar sesion</h1>
<form action="/login" method="post">
    <div>
        <label for="userID">Usuario: </label>
        <input type="text"
               id="userID"
               name="usuario">
    </div>
    <div>
        <label for="passwordID">Contraseña: </label>
        <input type="password"
               id="PaswordID"
               name="password">
    </div>
    <div>
        <button type="submit">Ingresar</button>
    </div>
</form>